// Define process containers separately in a configuration file:
//includeConfig "$projectDir/example-pipeline/containers.config"

// optionally, use 'includeConfig' to add another config file. 


manifest {
    name = 'QC resource consumption comparison'
    description = 'A simple pipeline to compare speeds of fastqc and falco'
    version = '1.0.0'
}

profiles {
    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory='1G'
                cpus='1'
                time='6h'
            }
            withLabel: 'med' {
                memory='2G'
                cpus='2'
            }
            withLabel: 'high' {
                memory = '8G'
                cpus='8'
            }
        }
        
        singularity {
        // Enabling singularity as default
        enabled = true
        autoMounts = true
        cacheDir = "$VSC_SCRATCH/.apptainer_cache"
        }
    }


    conda { 
        // Enabling conda
        params.enable_conda = true
    }

    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

}

process {
    withName: 'multiqc_fastqc' {
        publishDir = [
            path: { "${params.outdir}/fastqc_multiqc" },
            mode: 'copy'
        ]
    }
    withName: 'multiqc_falco' {
        publishDir = [
            path: { "${params.outdir}/falco_multiqc" },
            mode: 'copy'
        ]
    }
    
    // Adding resulting processed files to output directory
    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/FASTP/" },
            pattern: '*.fastp.fastq.gz',
            mode: 'copy'
        ]
    }
}

// Enabling trace and report for user to be able to compare resource usage and process speeds between QC tools
trace { enabled = true }
report { enabled = true }